* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(204, 206, 194, 0.692);
  padding: 1rem 2rem;
  border-bottom: 1px solid rgb(37, 37, 37);
}

.header__logo {
  width: 200px;
  height: 100px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}

.nav__list li {
  margin: 2rem;
}
.nav__list li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
}
.nav__list li a:hover {
  color: rgb(172, 33, 33);
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 100px;
  transition: all 0.3s;
}

.main__img {
  height: 500px;
}

.texto__fs {
  font-family: "Nanum Gothic Coding", monospace;
  text-align: center;
}

.footer {
  position: relative;
  padding: 1rem 2rem;
}

.grid {
  display: grid;
  justify-items: center;
  grid-template-areas:
    "imagenes/general.jpg"
    "FromSoftware general";
}

.fstext {
  font-family: Nanum Gothic Coding, monospace;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    width: 80%;
  }

  .nav-toggle {
    display: none;
  }

  .nav__list {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
    position: relative;
  }

  .nav__list li {
    margin: 0 0 0 1.5rem;
  }
}
